body {
    background-color: beige;
}

.active {
    color: tomato;
}

.mid {
    /* color: black; 이게 앞에 있어서 .active를 씹을것*/
    margin-top: 10%;
    margin-bottom: 0%;
    text-align: center;
}